
.travail i{
  align-items: center;
  color: rgb(255, 89, 0);
}

.back{
    position: relative;
    width:100% ;
    height: 220px;
    flex-grow: 1;
    top: 180px;
    background-color: rgb(255, 89, 0);  
}
.back img{
  margin: 15px;
  flex-direction: column;
justify-content: center;
margin-left: 80px;
padding-left: 60px;
right: 160px;
}

.img1{
position: relative;
top: -160px;
padding-left: 15px;


        }
        .button{
          position: relative;
         align-items: center;
         height: 0px;
         margin-right: 15px;
         top: -150px;
         left: 15px;
        }
        .img4{
            position: relative;
            top: -170px;
            margin-top: 1rem;
            padding-left: 15px;
           
        }
  @media screen and (max-width: 375px){
    .back {
      height: 400vh;
}

    .button{
      margin-left: -250vh;
    }
   
    .button{
      left: 300px;
    }

.titre{
  align-items: center;
}
  }
  @media screen and (max-width: 550px){
    .back {
      height: 195vh;
}
  }
 