
.travail i{
  align-items: center;
  color: rgb(255, 89, 0);
}
.back{
    position: relative;
    width:100% ;
    height: 220px;
    flex-grow: 1;
    top: 180px;
    background-color: rgb(255, 89, 0);  
}
.back img{
  margin: 1rem;
  flex-direction: column;
justify-content: center;
padding-left: 60px;
left: 150px;

}

.img1{
position: relative;
top: -160px;
padding-left: 15px;
        }
        .button{
          position: relative;
         align-items: center;
         height: 0px;
         margin-right: 15px;
         top: -150px;
         left: 15px;
        }
        .img4{
            position: relative;
            top: -170px;
            margin-top: 1rem;
            padding-left: 15px;
        }
  @media screen and (max-width: 375px){
    .button{
      margin-left: -250vh;
    }
    .back {
     
           width: 400px;
    }
    .button{
      left: 300px;
    }

.titre{
  align-items: center;
}
  }