body{
  background-color: rgb(235, 223, 223);
  top: 15%;
}
.bax1{
  text-align: center;
  margin: 1rem;
  position: relative;
  justify-content: center;
}
.bax1 h3{
  color: orange;
  padding:20px;
}
.bax1 h5{
padding: 15px;
}
.icon1 {
margin: 2rem;
}
.icon1 h4{
text-transform: uppercase;
}
.icon {
text-align: center;
display: flex; 
padding:20px;
}
.icon i{
  color: rgb(7, 90, 40);
}
.icon :hover{
  background-color:   orange;
}
.flex{
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  
}
.flex i{
  color: rgb(11, 133, 60);
}
.flex .icon1{
  text-align: center;
  margin: 2rem;
  
}
.flex .icon1:hover{
  background-color: orange;
}
.sepy{
  width:80%;
  padding: 2px;
border: 15px;
background-color: rgb(10, 234, 92);
margin: 1rem;


}
@media screen and  (max-width: 680px){
.icon{
      display: list-item;
     flex-direction:column;
  }
  .flex{
      display: list-item;
     flex-direction:column;
  }
  .bax1 h3{
     
      font-size: 15px;
}
.bax1 h5{
     
font-size: 15px;
}
}